
.mainnav{
    display: flex;
    flex-direction: column;
    background-color:#3c4858;
    height: 100%;
    width: 120px;
}
ul{
    list-style-type: none;
    padding: 0;
    display: block;
}
li{
    width: 100%;
    padding: 0;
}
li img {
    margin-top: 45px;
    margin-right: 40px;  
    width: 28px;
}

.menuPersonimg{
    margin-top: 10px;
    width: 100px;
    margin-right: 10px;  
    border-radius: 50%;
}
.namePerson{
    text-align: center;
    color: white;
    
}