.main{
    display: flex;
    background-color: #f4f4f4;
    height: auto;
    direction: rtl;
}
.person{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.header{
    background-color:#f4f4f4;
    display: flex;
    height: 70px;
    width: 98%;
    align-items: center;
    padding-right: 30px;
}
.direct p{
    color: black;
    font-weight: bold;
}
.brand{
    flex:1;
}
.direct{
    flex:6;
}
.search_add{
    background-color:white;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    padding-right: 30px;
}
.search{
    flex:0 1 80%;
}
.add{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.center{
    flex: 1;
    width: 100%;
  display: flex;
  justify-content:space-around; 
     overflow-y:auto;
     overflow-x: hidden;
    margin-top: 10px;
    align-items: center;
  

}

.center_left{
    width: 19%;
}
.addprofesorcenter{
    display: flex;
    width:90%;
    background-color:#f1f1f1;
    border-radius: 10px;
    
 align-items: center;
padding: 10px 5px 10px 0px;
 flex-wrap: wrap;
}
.center_right{
    background-color: white;
  overflow-y: auto; 
  width:70%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  height: 95%;
 align-content: flex-start;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}
.button_Add{
    width: 40px;
    height: 40px;
    background-color: #fdd835;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}
.searchinput{
    width: 80%;
    border-radius: 5px;
    height: 30px;
    background-color: white;
}