.main_PH {
    background-color: #111523;
    min-height: 100vh;
    display: flex;
    overflow-y: auto;
    direction: rtl;
}

.right_PH {
    flex: 2;
    display: flex;
}

.informUserProfile_PH {
    flex: 2;
    display: flex;
}

.information_PH {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.infoStatistics_PH {
    background-color: #252936;
    height: 38%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.headerStatistics_PH {
    height: 12%;
    display: flex;
    border-bottom: 2px solid #2B2F3B;
}

.headerStatisticsblueColor_PH {
    width: 4px;
    margin-left: 4px;
    background-color: #4697D4
}

.headerListProfesor_PH {
    height: 10%;
    display: flex;
    border-bottom: 2px solid #2B2F3B;
}

.infoBodyStatistics_PH {
    height: 90%;
}

.headerListProfesorblueColor_PH {
    width: 4px;
    margin-left: 4px;
    background-color: #4697D4
}

.TextHeader_PH {
    color: white;
    font-family: myFirstFont;
    font-size: 10pt;
    padding: 1px;
}

.infoListProfesor_PH {
    background-color: #252936;
    height: 55%;
    width: 90%;
}

.left_PH {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.leftUP_PH {
    display: flex;
    height: 55%;
    justify-content: space-around;
    align-items: center;
}

.StatisticsNumberProfesor_PH {
    background-color: #252936;
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.headerStatisticsNumPro_PH {
    height: 10%;
    display: flex;
    border-bottom: 2px solid #2B2F3B;
}

.headerStatisticsNumProblueColor_PH {
    width: 4px;
    margin-left: 4px;
    background-color: #4697D4
}

.bodyStatisticsNumberProfesor_PH {
    height: 90%;
}

.fourStatistics_PH {
    height: 90%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.fourStatisticsUp_PH {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statisticsTypeProfesor_PH {
    width: 45%;
    background-color: #252936;
    height: 95%;
}

.headerStatisticsTypeProfesor_PH {
    height: 12%;
    display: flex;
    border-bottom: 2px solid #2B2F3B;
}

.headerStatisticsTypeProfesorblueColor_PH {
    width: 4px;
    margin-left: 4px;
    background-color: #4697D4
}

.bodyStatisticsTypeProfesor_PH {
    height: 88%;
}

.TextHeaderFourStatistics_PH {
    color: white;
    font-family: myFirstFont;
    font-size: 7pt;
    padding: 1px;
}

.statisticsGradeLesson_PH {
    width: 45%;
    height: 95%;
    background-color: #252936;
}

.headerStatisticsGradeLesson_PH {
    height: 12%;
    display: flex;
    border-bottom: 2px solid #2B2F3B;
}

.headerStatisticsGradeLessonblueColor_PH {
    width: 4px;
    margin-left: 4px;
    background-color: #4697D4
}

.bodyStatisticsGradeLesson_PH {
    height: 88%;
}

.chart-container {
    height: 90%;
    width: 100%;
}

.fourStatisticsDown_PH {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.statisticsLesson_PH {
    width: 45%;
    background-color: #252936;
    height: 95%;
}

.headerStatisticsLesson_PH {
    height: 12%;
    display: flex;
    border-bottom: 2px solid #2B2F3B;
}

.headerStatisticsLessonblueColor_PH {
    width: 4px;
    margin-left: 4px;
    background-color: #4697D4
}

.bodyStatisticsLesson_PH {
    height: 88%;
}

.headerStatisticsSex_PH {
    height: 12%;
    display: flex;
    border-bottom: 2px solid #2B2F3B;
}

.headerStatisticsSexblueColor_PH {
    width: 4px;
    margin-left: 4px;
    background-color: #4697D4
}

.bodyStatisticsSex_PH {
    height: 88%;
}

.statisticsSex_PH {
    width: 45%;
    background-color: #252936;
    height: 95%;
}

.leftDown_PH {
    flex: 1;
    justify-content: center;
    display: flex;
}

.listLesson_PH {
    background-color: #252936;
    width: 95%;
    height: 95%;
}

.headerListLesson_PH {
    height: 10%;
    display: flex;
    border-bottom: 2px solid #2B2F3B;
}

.headerListLessonblueColor_PH {
    width: 4px;
    margin-left: 4px;
    background-color: #4697D4
}

.bodylistLesson_PH {
    height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.rowHeaderListLesson_PH {
    height: 10%;
    display: flex;
    padding-right: 5px;
    font-size: 0.8rem;
    font-family: myFirstFont;
    color: white;
    border-bottom: 1px solid #2B2F3B;
}

.rowListLesson_PH {
    height: 10%;
    display: flex;
    padding-right: 5px;
    font-size: 0.5rem;
    font-family: myFirstFont1;
    align-items: center;
    color: white;
}

.rowLesson_PH {
    flex: 5;
}

.rowNumberProfesor_PH {
    flex: 4;
    display: flex;
    justify-content: center;
}

.rowMaximum_PH {
    flex: 4;
    display: flex;
    justify-content: center;
}

.rowMinimum_PH {
    flex: 4;
    display: flex;
    justify-content: center;
}

.rowAcademicStaff_PH {
    flex: 4;
    display: flex;
    justify-content: center;
}

.infoBodyListProfesor_PH {
    height: 90%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}

.boxProfesor_PH {
    display: flex;
    color: white;
    align-items: center;
    height: 20%;
}

.boxImageProfesor_PH {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.styleImageProfesor_PH {
    border-radius: 50%;
    height: 83%;
    width: 83%;
}

.boxNameProfesor_PH {
    flex: 3;
    display: flex;
    padding-right: 10px;
    font-family: myFirstFont;
    font-size: 1rem;
    flex-direction: column;
}

.typeProfesor_PH {
    font-family: myFirstFont1;
    font-size: 0.5rem;
}

.boxHistoryProfesor_PH {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.joinUs_PH {
    font-family: myFirstFont;
    font-size: 0.6rem;
}

.historyJoinUs_PH {
    font-family: myFirstFont;
    font-size: 0.45rem;
}