.registerMain_RM {
    display: flex;
    overflow-y: auto;
    direction: rtl;
    background-color: #111523;
    min-height: 100vh;
}

.rightRegistre_RM {
    flex: 1;
    display: flex;
}

.leftRegistre_RM {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.registerProfesor_rm {
    display: flex;
    flex: 1;
}

.textBoxAddLesson {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 10%;
}

.btnBoxAddLesson {
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    background-color: #4697D4
}

.btnCloseBoxAddLesson {
    color: #4697D4;
}

.inputBoxAddLesson {
    width: 65%;
    border: none;
}

.registerBtnSubmit_RM {
    flex-basis: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnSubmit_RM {
    height: 80%;
    width: 230px;
    font-size: 1.2rem;
    font-family: myFirstFont;
    color: white;
    background-color: #4697D4;
    border: none;
    border-radius: 15px;
}

.registerProfesorRight_RM {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.specifications_RM {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formSpecificationsBox_RM {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: #252936;
}

.specificationsImgInputProfile_RM {
    height: 40%;
    display: flex;
}

.imgprofile {
    border-radius: 50%;
    width: 50%;
}

.specificationsImgProfile_RM {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptySpecificationsImgProfile_RM {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-family: myFirstFont1;
    font-size: 0.6rem;
    opacity: 1;
    /* Firefox */
}

.inputstyle_RM {
    height: 25px;
    padding-right: 5px;
    border: none;
    background-color: #252936;
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.boxRadiobtn {
    font-family: myFirstFont1;
    font-size: 0.8rem;
    margin-top: 10px;
    color: white;
}

.specificationsRadiobtnLeft_RM {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.specificationsRadiobtnCenter_RM {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.specificationsRadiobtnRight_RM {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.specificationsInputProfile_RM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.specificationsRadiobtn_RM {
    display: flex;
    flex: 1;
}

.timePicker_RM {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timePickerbox_RM {
    width: 97%;
    height: 95%;
}

.registerProfesorLeft_RM {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.pickLesson_RM {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.coursesOffered_RM {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 90%;
    background-color: #252936;
}

.coursesSelected_RM {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 90%;
    background-color: #252936;
}

.headerAddText {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.TextAdd {
    color: #4697D4;
    margin: 0;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.listTime_RM {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxListTime_Rm {
    width: 95%;
    height: 90%;
    background-color: #252936;
}

.headerCoursesTime_RM {
    height: 7%;
    display: flex;
    border-bottom: 2px solid #2B2F3B;
}

.headerCoursesTimeblueColor_RM {
    width: 4px;
    margin-left: 4px;
    background-color: #4697D4
}

.bodyCoursesTime_RM {
    height: 93%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.TextHeader_RM {
    color: white;
    font-family: myFirstFont;
    font-size: 8pt;
    padding: 1px;
}

.Smoothie {
    height: 20%;
    background-color: gainsboro;
}

.stripPresentLessonPurple_RM {
    width: 4px;
    height: 100%;
    background-color: rgb(255, 0, 255);
}

.stripPresentLessonGreen_RM {
    width: 4px;
    height: 100%;
    background-color: rgb(0, 255, 0);
}

.textPresentPurple_RM {
    flex: 1;
    font-family: myFirstFont1;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    color: white;
    padding-right: 5px;
    background-color: rgba(255, 0, 255, 0.220)
}

.textPresentGreen_RM {
    flex: 1;
    font-family: myFirstFont1;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    padding-right: 5px;
    color: white;
    background-color: rgba(0, 255, 0, 0.220)
}

.boxDropDragPrsentLesson_RM {
    width: 99%;
    margin-top: 4px;
    margin-bottom: 3px;
    display: flex;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 1px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.boxlistTimeShow_RM {
    width: 99%;
    margin-top: 7px;
    display: flex;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 1px;
    min-height: 25px;
    justify-content: center;
    align-items: center;
}

.stripBoxListTimeRed_RM {
    width: 4px;
    height: 100%;
    background-color: rgb(255, 0, 0);
}

.stripBoxListTimeBlue_RM {
    width: 4px;
    height: 100%;
    background-color: rgb(0, 255, 255);
}

.textPresentTimeBlue_RM {
    flex: 1;
    font-family: myFirstFont1;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    padding-right: 5px;
    color: white;
    background-color: rgba(0, 255, 255, 0.220)
}

.textPresentTimeRed_RM {
    flex: 1;
    font-family: myFirstFont1;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    padding-right: 5px;
    color: white;
    background-color: rgba(255, 0, 0, 0.220)
}