.main2 {
  display: flex;
  overflow-y: auto;
  direction: rtl;
  height: auto;
  background-color: #eeeeee;
  min-height: 100vh;
  flex-wrap: nowrap;
}
.formAddLesson {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.btnsubmit {
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #9e1eb3;
  border-radius: 10px;
  width: 100%;
  font-family: myFirstFont;
}
.formBtnsubmit{
  height: 10%;
  background-color: #ffffff;
  border: 1px solid #9e1eb3;
  border-radius: 10px;
  width: 65%;
  font-family: myFirstFont;
}
.timeform {
  flex: 4;
  display: flex;
}
.right {
  flex: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-direction: column;
}
.righttable_list {
  border: 1px solid black;
  width: 200px;
  height: 350px;
  margin-top: 20px;
  margin-left: 5px;
}
.Time_right {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Time_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.Time_center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectdays {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 60%;
  border: 1px solid #9e1eb3;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selecTime {
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 80%;
  border: #9e1eb3 solid 1px;
}
.selecTime_up {
  width: 100%;
  height: 20px;
  display: flex;
  border-bottom: #999cab solid 1px;
}
.selecTime_up_az {
  flex: 2;
  text-align: center;
  font-family: myFirstFont;
  font-size: 10pt;
}
.selecTime_up_ta {
  flex: 2;
  font-size: 10pt;
  text-align: center;
  font-family: myFirstFont;
}
.selecTime_up_roz {
  font-size: 10pt;
  flex: 3;
  text-align: center;
  font-family: myFirstFont;
}
.List_Time {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.nameday {
  flex: 3;
  padding: 0;
  margin: 0;
  text-align: center;
}
.lessonLi{
  text-align: center;
  padding-bottom: 5px;
    margin: 0;
}
.StartAndEndTime {
  flex: 2;
  padding: 0;
  margin: 0;
  border-right: #999cab solid 1px;
  text-align: center;
}
.selecTime_down {
  flex: 1;
  display: flex;
  overflow-y: auto;
}
.Lits_days {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}
.Time_select {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Time_add_btn {
  font-family: myFirstFont;
  font-size: 8pt;
  width: 80%;
}
.righttable {
  display: flex;
  width: 95%;
  direction: ltr;
  height: 400px;
  background-color: white;
  border: 1px solid #999cab;
  border-radius: 10px;
  box-shadow: 4px 4px 5px grey;
  overflow-y: auto;
}
.left {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left_up {
  flex: 2;
  justify-content: center;
  display: flex;
  align-items: center;
}
.left_down {
  flex: 3;
  justify-content: center;
  display: flex;
  height: 300px;
  width: 90%;
  align-items: center;
}
.left_up_form {
  height: 95%;
  width: 90%;
  background-color: white;
  border: 1px solid #999cab;
  border-radius: 10px;
  box-shadow: 4px 4px 5px grey;
  display: flex;
}
.Lesson {
  height: 95%;
  width: 90%;
  background-color: white;
  border: 1px solid #999cab;
  border-radius: 10px;
  box-shadow: 4px 4px 5px grey;
  direction: ltr;
  display: flex;
}
.left_up_form_input {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  flex-direction: column;
}
.left_up_form_img {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Lesson_left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Lesson_right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TextBtn_lesson {
  display: flex;
  flex-direction: column;
  height: 30%;
  align-items: center;
  justify-content: space-around;
}
.selectLesson {
  border: #999cab solid 1px;
  width: 90%;
  overflow-y: auto;
  height: 80%;
  direction: rtl;
}
.Btn_add_Lesson {
  font-family: myFirstFont;
  font-size: 8pt;
  margin-top: 10px;
  width: 50%;
}
.inputstyle {
  border: none;
  font-family: myFirstFont1;
  height: 20px;
  border-bottom: 1px solid #9e1eb3;
  margin-bottom: 20px;
  padding-right: 5px;
  width: 95%;
}
.boximgprofile {
  border-radius: 50%;
  border: 2px solid #9e1eb3;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  align-items: center;
}
.imgprofile {
  width: 78%;
}
li {
  list-style-type: none;
  padding: 0;
  margin-top: 15%;
}
ul {
  padding: 0;
  font-family: myFirstFont;
  font-size: 9pt;
}
